.App {
  padding: 2rem 1rem 1rem 1rem;
  background-color: var(--color-off-white);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(50, 50, 80, 0.3),
              -4px -4px 10px rgb(250, 250, 250);
  min-width: 50rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}